name: Demo2

on:
  push:
    branches: [main]
  schedule:
      - cron: "*/1 * * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - run: uptime
      - run: pwd
      - run: cat /etc/os-release
      - run: free -h